  body{
    background-color: grey;
  }

  p{
    color: purple;
    background-color: green;
  }
  img{
    border-style: dashed;
    color: red;
  }

  h1{
    color: blue;
    background-color: yellow;
  }
